<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] %-5level [%X{testName}] %c{1} - %msg%n"/>
        </Console>

        <RollingFile name="RollingFileLog"
                     fileName="target/logs/test.log"
                     filePattern="target/logs/test-%d{yyyy-MM-dd}.log"
                     append="true">
            <PatternLayout pattern="[%d{HH:mm:ss}] %-5level [%X{testName}] %c{1} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFileLog"/>
        </Root>
    </Loggers>
</Configuration>